server:
  port: 9090

#  Spring Test MockMvc 한글깨짐 해결
  servlet:
    encoding:
      force-response: true

spring:
  h2:
    console:
      enabled: true
      path: /h2-console

  datasource:
    url: jdbc:h2:mem:mhboard
    username: sa
    password:
    driver-class-name: org.h2.Driver

  data:
    web:
      pageable:
        one-indexed-parameters: on